<!-- <input type="text" [(ngModel)]="inputText" (keyup)="inputKeyDown()" /><br />
<span>{{ inputText | titlecasecustom }}</span> -->

<ul class="employee-container">
  <li class="employee-data" *ngFor="let employee of employeesData">
    <div class="employee-data__image-container">
      <img
        class="employee-data__avatar"
        src="./../../../assets/icons/user.png"
      />
    </div>
    <div class="employee-data__info-container">
      <span>{{ employee.FirstName }} {{ employee.SecondName }}</span
      ><button
        class="employee-data__btn employee-data__btn-delete"
        alt="delete"
      ></button
      ><button
        class="employee-data__btn employee-data__btn-edit"
        alt="edit"
        [disabled]="employee.Blocked"
      ></button>
    </div>
  </li>
</ul>
