@import "../../app.component.scss";

.employee-container {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  padding-inline-start: 0;
}
