// color variables
$dark-blue: #0e0b29;
$deep-purple: #3b0032;
$lilac: #7d2948;
$peach: #ebc588;
$yellow: #ebeaa9;
$light-blue: #dce4f7;
$metallic-grey: #c1c9c8;
$base-black: #131722;
$dark-orange: #f15928;
$medium-orange: #f8931d;
$light-orange: #fab142;

$box-shadow-standard: 0 4px 6px rgba(50, 50, 93, 0.11),
  0 1px 3px rgba(0, 0, 0, 0.08);
$box-shadow-hover: 0 7px 14px rgba(50, 50, 93, 0.1),
  0 3px 6px rgba(0, 0, 0, 0.08);
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
